<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>motive</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
    <style>
      h1, h2, h3 {margin-top: 40px;}
      body {padding: 40px 0 80px;}
    </style>
  </head>
  <body>
    <div class="container">
      {{md "README.md"}}
    </div>
  </body>
</html>